* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #F9F9FB;
}
.setting-container {
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}
.main-container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img:first-child {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.logo img:nth-child(2) {
    height: 30px;
}
.input-bar {
    width: 700px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 40px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px;

}
.input-bar > img {
    width: 20px;
    height: 20px;
}
.input-bar > input {
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 10px;
}

.input-bar > input:focus {
    outline: none;
}
.container-bookmarks-main {
    display: flex;
}
.bookmarks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    cursor: pointer;
}
.bookmarks:hover {
    background-color: #d7d7d8;
}
.bookmark-container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}
.bookmark-container-img > img {
    width: 100%;
}
.bookmark-text {
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
}